body {
    text-align: center;
    background-image: url("bobo.jpg");
    background-repeat: no-repeat;
   background-color: #ddd0d0;
   background-size: cover;
   margin-top: 30px;;
}
input {
    border: 2px solid black;
    border-radius: 5px;
}
#border1 {
    
    
    margin-left: 10px;
}

#border2 {
    margin-left: 75px;
}

textarea{
    margin-left: 75px;
    border: 2px solid black;
    opacity: 0.5;
    color: black;
}
h1 {
    font-size: 50px;
}
h3 {
    font-size: 25px;
}
h5 {
    font-size: 17px;
}